.container{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.screen{
    top: 14.1vh;
    height: 65vh;
    width: 43.9vh;
    position: absolute;
    z-index: 10;
    
}

.background {
    background-image: url('../bmo.png');
    height: 100vh;
    width: 59.29vh;
    background-size: cover;
    display: flex;
    justify-content: center;
}