.container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.screen {
  top: 15vh;
  height: 71vh;
  width: 47.5vh;
  position: absolute;
  z-index: 10;
}

.background {
  background-image: url("../assets/BMO.svg");
  height: 100vh;
  width: 55vh;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .background {
    width: 100vw;
  }

  .screen {
    top: 27.5vw;
    height: 128vw;
    width: 90vw;
  }
}
